name: Main2DR
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write
  
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      # checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: 'refs/heads/main'
        
      - name: Setup JFrog CLI for SAAS main
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli-main
        env:  
          JF_URL: https://hts2.jfrog.io 
        with:
          oidc-provider-name: manoj-git
          oidc-audience: manoj
      - name: Download file status.txt from repo
        run: |
          jf c s 
          jf rt ping
          jf rt curl -XGET /api/repositories
